<h1>Users#home</h1>
<div class="row">
  <p class="">Find me in app/views/users/home.html.erb</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  or
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>

</div>
